@charset "UTF-8";

.main-colum{
  width: 100%;
  display: flex;
  padding: 3% 5%;
}
.colum{
  padding: 20px 20px;
  width:70%;
  border: solid 1px #E0E0E0;
}
.colum h2{
  padding:5px 20px;
  border-bottom:solid blue 2px;
  display: inline-block;
}
.colum p{
  padding:20px 20px;
}
#image1 {
  text-align: center;
}

.kaishagaiyou{
  padding: 20px 20px;
  width: 30%;
  border:solid 1px #E0E0E0;
  margin-left:10px;
}
.kaishagaiyou h3{
  padding:10px 0;
  margin-left:50px ;
  border-bottom:solid blue 2px;
  display: inline-block;
}
.gaiyou-list {
  margin-top:20px;
  padding-left:50px;
}
.jigyo-list{
  margin-bottom:20px;
}


#contact{
  background-image: url("images/beach.jpg");
  min-height: 90vh;
  width: 100vw;
  padding:50px 0 50px 150px;
}

#contact h2{
  font-size: 70px;
}

form{
  margin-top:50px;
}
.contact-list{
  margin-bottom:20px;
}

.contact-list p{
  margin-bottom:20px;
  font-size: 30px;
  font-weight: 600;
}

input[type = "text"],
input[type="email"],
textarea{
background: rgba(255,255,255,.5);
border:1px #fff solid;
border-radius: 5px;
font-size: 1rem;
padding:10px;
}

input[type="text"],
input[type="email"]{
  width:100%;
  max-width: 240px;
}
textarea{
  width:100%;
  max-width:480px;
  height: 6rem;
}
input[type = "submit"]{
  width:100%;
  max-width: 200px;
  color: white;
  background: #0bd;
  padding:10px;
  border-radius: 5px;
}

/* GooleMap */
#google{
  padding:3% 5% 0;
  display: flex;
  height:500px;

}

.map-shozai{
  width:20%;
  height:400px;
  margin-right: 20px;
  border:1px aquamarine solid;
}
.map-shozai h3{
  text-align: center;
  margin:20px 0;
  font-weight: bold;
}
.map-list{
padding-left:50px;
}
.map-list p{
  margin-bottom: 30px;
}
#google-map{
  width:80%;
  height:400px;
  border:2px aquamarine solid;


}
iframe{
  width: 100%;
}
