@charset "UTF-8";

.main-colum{
  width: 100%;
  display: flex;
  padding: 3% 5%;
}
.colum{
  padding: 20px 20px;
  width:70%;
  border: solid 1px #E0E0E0;
}
.colum h2{
  padding:20px 20px;
}
.colum p{
  padding:20px 20px;
}
#image1 {
  text-align: center;
}

.kaishagaiyou{
  width: 30%;
  border: solid 1px #E0E0E0;
  margin-left:10px;
}
.kaishagaiyou h3{
  padding:40px 50px;
}
.gaiyou-list {
  padding-left:50px;
}
.jigyo-list{
  margin-bottom:20px;
}
