@charset "UTF-8";

.main-colum{
  width: 100%;
  display: flex;
  padding: 3% 5%;
}
.colum{
  padding: 20px 20px;
  width:70%;
  border: solid 1px #E0E0E0;
}
.colum h2{
  padding:5px 20px;
  border-bottom:solid blue 2px;
  display: inline-block;
}
.colum p{
  padding:20px 20px;
}
#image1 {
  text-align: center;
}

.kaishagaiyou{
  padding: 20px 20px;
  width: 30%;
  border:solid 1px #E0E0E0;
  margin-left:10px;
}
.kaishagaiyou h3{
  padding:10px 0;

  margin-left:50px ;
  border-bottom:solid blue 2px;
  display: inline-block;
}
.gaiyou-list {
  margin-top:20px;
  padding-left:50px;
}
.jigyo-list{
  margin-bottom:20px;
}
